@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Mono|Roboto+Slab');

/* Custom CSS Properties for Light/Dark switching */
:root {
  --color-body-bg: #fcfcfc;
  --color-body-fg: #272525;
  --color-sidenav-bg: #272525;
  --color-sidenav-fg: #f1f1f1;
  --color-sidenav-title-bg: #2980B9;
  --color-sidenav-header-fg: #3a7ca8;
  --color-feature-button-fg: #d9d9d9;
  --color-feature-button-bg: #404040;
  --color-feature-button-active-fg: #404040;
  --color-feature-button-active-bg: #fcfcfc;
  --color-feature-button-active-border: #c9c9c9;
  --color-scenario-button-bg: #e2e2e2;
  --color-scenario-button-fg: #404040;
  --color-scenario-button-border-right: #c9c9c9;
  --color-scenario-button-active-bg: #ccc;
  --color-scenario-divider-border-bottom: #ccc;
}
[data-theme="dark"] {
  --color-body-bg: #212224;
  --color-body-fg: #d9d9d9;
  --color-sidenav-bg: #252628;
  --color-sidenav-fg: #f1f1f1;
  --color-sidenav-title-bg: #2980B9;
  --color-sidenav-header-fg: #3a7ca8;
  --color-feature-button-fg: #d9d9d9;
  --color-feature-button-bg: #3C4043;
  --color-feature-button-active-fg: #fcfcfc;
  --color-feature-button-active-bg: #3C4043;
  --color-feature-button-active-border: #212224;
  --color-scenario-button-bg: #212224;
  --color-scenario-button-fg: #d9d9d9;
  --color-scenario-button-border-right: #212224;
  --color-scenario-button-active-bg: #3C4043;
  --color-scenario-divider-border-bottom: #212224;
}

html {
  scroll-behavior: smooth;
  font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: medium;
  background-color: var(--color-body-bg);
  color: var(--color-body-fg);
}
body {
  margin: 0px;
  background-color: var(--color-body-bg);
  color: var(--color-body-fg);
}
pre {
  overflow: visible;
}
a.anchor {
  display: block;
  position: relative;
  top: -1.5em;
}

table {
  border-collapse: collapse;
  margin-left: 1em;
}

table, th, td {
  border: 1px solid black;
}

.step-table td, .example-table td, .example-table th {
  padding: 5px;
}

/* Sidebar Style */
.sidenav {
  width: 30vw;
  height: 100%;
  position: fixed;
  z-index: 1;
  background-color: var(--color-sidenav-bg);
  overflow-x: hidden;
  color: var(--color-sidenav-fg);
  text-align: center;
  /* Disable the scroll bar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}
.sidenav::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
.sidenav-body {
  min-height: calc(100% - 2.5em);
}
#sidenavTitle {
  background-color: var(--color-sidenav-title-bg);
  padding: 1em 0.01em 1em 0.01em;
}
#sidenavTitle h1 {
  font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
  font-weight: bold;
  font-size: xx-large;
  margin: 0em;
}
.sidenav-header {
  color: var(--color-sidenav-header-fg);
  margin: 0.5em;
  font-weight: bold;
  line-height: 1.5em;
}
#sidenavFooter {
  width: 100%;
}
.feature-button {
  font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
  background-color: var(--color-feature-button-bg);
  color: var(--color-feature-button-fg);
  cursor: pointer;
  padding: 0.75em;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  white-space: nowrap;
}
.feature-button.active, .feature-button:hover {
  background-color: var(--color-feature-button-active-bg);
  font-weight: bold;
  color: var(--color-feature-button-active-fg);
  border-bottom: solid 1px var(--color-feature-button-active-border);
}
.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.scenario-button {
  font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
  background-color: var(--color-scenario-button-bg);
  color: var(--color-scenario-button-fg);
  cursor: pointer;
  padding: 0.5em;
  width: 100%;
  text-align: left;
  outline: none;
  white-space: nowrap;
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-right: solid 1px var(--color-scenario-button-border-right);
}
.scenario-button.active, .scenario-button:hover {
  background-color: var(--color-scenario-button-active-bg);
}
.scenario-button span {
  margin-left: 1em;
}

/* Dark mode slider */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 16px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* Dark theme slider slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2980B9;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2980B9;
}
input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 16px;
}
.slider.round:before {
  border-radius: 50%;
} 

/* Main Content Window Style */
.main {
  position: absolute;
  min-width: 70vw;
  min-height: 100%;
  margin-left: 30vw;
  /*margin-bottom: 75vh;*/
  padding: 0px 10px;
  background-color: var(--color-body-bg);
  color: var(--color-body-fg);
}
.main h2 {
  padding-top: 0.5em;
  margin-top: 0em;
  margin-bottom: 0.5em;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: bold;
  font-size: x-large;
}
.main h3 {
  margin-top: 1em;
  margin-bottom: 0em;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: bold;
  font-size: large;
}
.main pre, .main p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
  font-size: medium;
}
.scenario-description {
  margin-bottom: 1.5em;
}
.feature-wrapper {
  display: none;
}
.feature-wrapper.active {
  display: block;
}
.feature-body {
  margin-left: 1em;
}
.scenario-body {
  margin-left: 1em;
}
.docstring {
  margin-left: 1em;
}
.docstring pre {
  font-family: 'Roboto Mono', monospace;
  font-size: small;
}
.scenario-divider {
  margin-top: 1em;
  border: 0;
  border-bottom: 1px dashed #ccc;
}
